
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100...900&display=swap');

@import "tailwindcss";


*{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@theme {
  --color-primary: #27AE60;
}

