
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100...900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #27AE60;
}
*{
  font-family: Outfit;
}

/* custom utility for auto-fit grid */
.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}